.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html,
body,
#root {
  background-color: #e7ebc5;
  height: 100%;
  margin: 0rem;
  width: 100%;
}
